
<div class="card">
  <div class="card-header">
    <h4>Chưa được duyệt</h4>
  </div>
  {{#if this.emptywait}}
  <div class="card-body">
    <p class="card-text">Không có bài viết chờ được duyệt.</p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Tittle</th>
        <th scope="col">Abstract</th>
        <th scope="col">Content</th>
        <th scope="col">Category</th>        
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.listwait}}
      <tr>
        <th scope="row" class="text-center"></th>
        <td>{{tittle}}</td>
        <td>{{ab}}</td>
        <td>{{content}}</td>
        <td>{{name}}</td>
        <td class="text-right">
          <a class="btn btn-primary btn-sm" href= "/admin/Writter/edit/{{idnews}}" role="button">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a class="btn btn-danger btn-sm" href="/admin/Writter/del" role="button">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</div>

</br>

<div class="card">
  <div class="card-header">
    <h4>Bị từ chối</h4>
  </div>
  {{#if this.emptyrefuse}}
  <div class="card-body">
    <p class="card-text">Không có bài viết bị từ chối.</p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Tittle</th>
        <th scope="col">Abstract</th>
        <th scope="col">Content</th>
        <th scope="col">Category</th>   
        <th scope="col">Reason</th>      
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.listrefuse}}
      <tr>
        <th scope="row" class="text-center"></th>
        <td>{{tittle}}</td>
        <td>{{ab}}</td>
        <td>{{content}}</td>
        <td>{{name}}</td>
        <td>{{reason}}</td>
        <td class="text-right">
          <a class="btn btn-primary btn-sm" href="/admin/Writter/edit/{{idnews}}" role="button">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a class="btn btn-danger btn-sm" href="javascript:;" role="button">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
  <div class="card-footer text-muted">
    Footer
  </div>
</div>

</br>

<div class="card">
  <div class="card-header">
    <h4>Đã được duyệt</h4>
  </div>
  {{#if this.emptyaccept}}
  <div class="card-body">
    <p class="card-text">Không có bài viết nào đã được duyệt.</p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Tittle</th>
        <th scope="col">Abstract</th>
        <th scope="col">Content</th>
        <th scope="col">Category</th>        
      </tr>
    </thead>
    <tbody>
      {{#each this.listaccept}}
      <tr>
        <th scope="row" class="text-center"></th>
        <td>{{tittle}}</td>
        <td>{{ab}}</td>
        <td>{{content}}</td>
        <td>{{name}}</td>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
  <div class="card-footer text-muted">
    Footer
  </div>
</div>